@import "tailwindcss";

@theme {
  --disable-default-colors: true;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-primary: #232D4F;
  --color-primary-dark: #1c243f;
  --color-secondary: #3E5A7E;
  --color-secondary-dark: #324864;
  --color-accent: #E7BA61;
  --color-background: #F2F2F2;
  --color-sidebar-bg: #FFFFFF;
  --color-sidebar-text: #555555;
  --color-sidebar-hover: #e6e6e6;
  --color-topbar-bg: #FFFFFF;
  --color-card-bg: #FFFFFF;
  --color-text-primary: #141414;
  --color-text-secondary: #555555;
  --color-tag-green: #2E7D33;
  --color-tag-red: #C62828;
  --color-tag-yellow: #E7BA61;
  --color-gray-200: #F2F2F2;
  --color-gray-300: #e6e6e6;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

