@import "tailwindcss";

@theme {
  --disable-default-colors: true;

  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);

  --color-primary: rgb(108 92 231);
  --color-primary-dark: rgb(88 73 184);
  --color-secondary: rgb(253 121 168);
  --color-secondary-dark: rgb(225 106 144);
  --color-accent: rgb(254 202 87);
  --color-background: rgb(253 253 253);
  --color-sidebar-bg: rgb(44 62 80);
  --color-sidebar-text: rgb(253 253 253);
  --color-sidebar-hover: rgb(92 106 121);
  --color-topbar-bg: rgb(255 255 255);
  --color-card-bg: rgb(255 255 255);
  --color-text-primary: rgb(45 52 54);
  --color-text-secondary: rgb(99 110 114);
  --color-tag-green: rgb(0 184 148);
  --color-tag-red: rgb(214 48 49);
  --color-tag-yellow: rgb(253 203 110);
  --color-gray-200: rgb(229 231 235);
  --color-gray-300: rgb(209 213 219);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
